/*importando*/
@import "utilities";

body{ background: $background-gradient;}



.app{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /*BodyTodo.jsx*/
    .todo-container{
        background-color: white;
        padding: 30px;
        border-radius: 30px;
        margin-top: 50px;

        h1{
            color: $preto;
            font-weight: bold;
            text-align: left;
            font-size: 50px;
            
        }
        
        .header{
            display: flex;
            min-width: 400px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            
    
            .ButtonAdd{
                cursor: pointer;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 42px;
                border-radius: 10px;
                background-color: #9020FE;
                color: white;
                padding: 20px;
                border: 2px solid #9020FE;
            }
            .ButtonAdd:hover{
                transition: 0.2s;
                background-color: white;
                color: #9020FE;
                
            }

            .input input{
                font-size: 28px;
                border: 0;
                background-color: rgba(220,220,220, 0.3);
                border-radius: 10px;
                padding-left: 10px;
                line-height: 58px;
            }
            .input input:focus{
                outline: 0;
                
                
                transition: 0.3s;
                
            }
        }

        .content{
            ul{
                
                
                li{
                    
                    list-style-type: none;
                    font-size: 28px;
                    align-items: center;
                    justify-content: space-between;
                    display: flex;
                    margin: 20px 0;
                    span{
                        flex: 1;
                        margin-left: 10px;
                    }
                    i{
                        cursor: pointer;
                        
                    }
                    i:hover{
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
   
                    
                }
            }
        }
        
    }
    
}

.concluida{
    
    span{
        text-decoration: line-through;
        color: gray;
    }

    i{
        color: gray;
    }

    i.trash{
        color: #EF767A;
        
    }
}

