/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

/*variáveis*/
    /*Cores*/
    $preto :#333;
    $cor-branco:#ececec;
    $cor-palha:#dab785;
    $cor-vermelho:#e53945;
    $background-gradient: linear-gradient(38deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    