/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

/*variáveis*/
    /*Cores*/
    $cor-azulEscuro:#1d3557;
    $cor-branco:#ececec;
    $cor-palha:#dab785;
    $cor-vermelho:#e53945;

    /*Padding*/
    

/*utilitários*/
.container{max-width: 900px;margin: 0 auto;padding: 0 2%;}